<nav class="p-5 bg-[##0A192F] shadow md:flex md:items-center md:justify-between font-bold">
    <div class="flex justify-between items-center ">
      <span class="text-2xl cursor-pointer text-[#59E3C5]">
        Khajornsak
      </span>

      <span class="text-3xl cursor-pointer mx-2 md:hidden block text-gray-300">
        <ion-icon name="menu" onclick="Menu(this)"></ion-icon>
      </span>
    </div>

    <ul class="text-gray-300 md:flex md:items-center md:z-auto md:static absolute bg-[#0A192F] w-full left-0 md:w-auto md:py-0 py-4 md:pl-0 pl-7 md:opacity-100 opacity-0 top-[-400px] transition-all ease-in duration-500">
      <li class="mx-6 my-6 md:my-0">
        <a href="{% url 'index' %}" class="text-xl hover:text-[#59E3C5] hover:decoration-solid hover:underline hover:underline-offset-8 hover:decoration-2">Home</a>
      </li>
      <li class="mx-6 my-6 md:my-0">
        <a href="{% url 'about' %}" class="text-xl hover:text-[#59E3C5] hover:decoration-solid hover:underline hover:underline-offset-8 hover:decoration-2">About</a>
      </li>
      <li class="mx-6 my-6 md:my-0">
        <a href="{% url 'skills' %}" class="text-xl hover:text-[#59E3C5] hover:decoration-solid hover:underline hover:underline-offset-8 hover:decoration-2">Skills</a>
      </li>
      <li class="mx-6 my-6 md:my-0">
        <a href="{% url 'contact' %}" class="text-xl hover:text-[#59E3C5] hover:decoration-solid hover:underline hover:underline-offset-8 hover:decoration-2">Contact</a>
      </li>
      <li class="mx-6 my-6 md:my-0">
        <a href="#" class="text-xl hover:text-[#59E3C5] hover:decoration-solid hover:underline hover:underline-offset-8 hover:decoration-2">Works</a>
      </li>
    </ul>
  </nav>

  <script>
    function Menu(e){
      let list = document.querySelector('ul');
      e.name === 'menu' ? (e.name = "close",list.classList.add('top-[80px]') , list.classList.add('opacity-100')) :( e.name = "menu" ,list.classList.remove('top-[80px]'),list.classList.remove('opacity-100'))
    }
  </script>