{% extends 'main.html' %}
{% load static %}
{% block title %} HOME {% endblock %}
{% block style %} 
    <style>
        body{
            background-color: #0A192F;
            color:gainsboro;
        }
    </style>
{% endblock %}
{% block body %}
<div class="h-screen w-screen">
    {% include 'components/header.html' %}
    <div class="m-6 grid grid-cols-1 gap-4 md:grid-cols-2 content-center">
        <section class="mx-auto my-2 md:my-4">
            <img src="{% static 'profile/jayzaza.jpg' %}" alt="" class="rounded-full md:max-h-96  max-h-72 mx-auto">
            <div class="grid grid-rows-2 grid-flow-col gap-4">
                <h1 class="font-bold text-2xl mt-4 text-center">Khajornsak Krongyud (<span class="text-[#59E3C5]">&nbsp;Jay&nbsp;</span>)</h1>
                <p class="text-xl font-semibold text-center">6&nbsp;-&nbsp;8&nbsp;-&nbsp;2001</p>
            </div>    
        </section>
        <section>
            <p class="text-4xl font-bold"><span class="hover:text-5xl">A</span><span class="hover:text-5xl">b</span><span class="hover:text-5xl">o</span><span class="hover:text-5xl">u</span><span class="hover:text-5xl">t</span></p>
            <p class="my-4">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;My name is Khajornsak Krongyud and I am interested and fond of program development, both Web application and Mobile application, focusing on <span class="text-[#59E3C5]">database design</span> and <span class="text-[#59E3C5]">Backend Development</span> and I am a fast learner. and ready to study and learn various skills as required by the organization There is no problem with any programming language. Every programming language is a tool.</p>
            <p class="text-4xl font-bold"><span class="hover:text-5xl">H</span><span class="hover:text-5xl">o</span><span class="hover:text-5xl">b</span><span class="hover:text-5xl">b</span><span class="hover:text-5xl">y</span></p>
            <ul class="space-y-1 max-w-md list-disc list-inside m-4">
                <li>
                    Learn Penetration Testing and Ethical hacking
                </li>
                <li>
                    read a book
                </li>
                <li>
                    Learn other programming languages
                </li>
                <li>
                    play a game
                </li>
                <li>
                    watch a movies
                </li>
                <li>
                    listen to music
                </li>
                
                
            </ul>
        </section>
        
    </div>

</div>

{% endblock %}