{% extends 'main.html' %}
{% load static %}
{% block title %} HOME {% endblock %}
{% block style %} 
    <style>
        body{
            background-color: #0A192F;
            color:gainsboro;
        }
    </style>
{% endblock %}
{% block body %}
<div class="h-screen w-screen">
    {% include 'components/header.html' %}
    {% if icon is null %}
        {% else %}
            <script>
                Swal.fire({
                    icon: '{{ icon }}',
                    title: '{{ title }}',
                    text: '{{ msg }}',
                  })
            </script>
        {% endif%}
    <section class="bg-[##0A192F]">
        <div class="py-8 px-4 mx-auto max-w-screen-md">
            <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-center text-gray-300">Contact Us</h2>
            <p class="mb-8 lg:mb-16 font-light text-center text-gray-500 dark:text-gray-400 sm:text-xl">My inbox is always open. Whether you have a question or just want to say hi. I'll try to get back to you!</p>
            <form action="{% url 'contact' %}" class="space-y-8" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div>
                    <label for="email" class="block mb-2 text-sm font-medium text-gray-300 dark:text-gray-300">Your email</label>
                    <input type="email" id="email" name="email" class="shadow-sm bg-gray-700 text-gray-300 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500 dark:shadow-sm-light" placeholder="name@gmail.com" required>
                </div>
                <div>
                    <label for="subject" class="block mb-2 text-sm font-medium text-gray-300 dark:text-gray-300">Subject</label>
                    <input type="text" id="subject" name="subject" class="block p-3 w-full text-sm text-gray-300 bg-gray-700 rounded-lg  shadow-sm focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500 dark:shadow-sm-light" placeholder="your name" required>
                </div>
                <div class="sm:col-span-2">
                    <label for="message" class="block mb-2 text-sm font-medium text-gray-300 dark:text-gray-400">Your message</label>
                    <textarea id="message" rows="6" name="msg" class="block p-2.5 w-full text-sm text-gray-300 bg-gray-700 rounded-lg shadow-sm  focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="Leave a comment..."></textarea>
                </div>
                <button type="submit" class="drop-shadow-xl py-3 px-5 text-sm font-medium text-center text-white rounded-md bg-none sm:w-fit hover:bg-emerald-600 border border-emerald-600 hover:bg-opacity-10 border-2 text-emerald-500">Send message</button>
            </form>
        </div>
    </section>
</div>
{% endblock %}